/*Common Css Start*/
.panel .panel-body {
    padding: 0px;
}
button, input, optgroup, select, textarea {
    font-family: Arial, sans-serif !important;
    letter-spacing: 1px !important;
    font-size: 11px !important;
}
button {
    font-size: 11px !important;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
body {
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
}
.radio label:before, .checkbox label:before {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0 !important;
}
.radio label:after, .checkbox label:after {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0 !important;
}
/*Common Css End*/
textarea {
    height: auto !important;
}
.custom-btn2:last-child {
    margin-right: 0px;
}
.custom-btn1:last-child {
    margin-right: 0px;
}

.select2-container .select2-choice {
    font-family: Arial, sans-serif !important;
    color: #626262;
/*    padding: 3px 15px;*/
}
.select2-default {
    color: #626262 !important;
}
/*datatable start*/
#DataTables_Table_0_length {
    width: 50%;
    float: left;
}
#DataTables_Table_0_filter {
    float: right;
}
#DataTables_Table_0_length select{
    height: 32px;
}
#DataTables_Table_0_filter input {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid rgba(0,0,0,0.07);
    font-family: Arial, sans-serif;
    -webkit-appearance: none;
    color: #2c2c2c;
    outline: 0;
    height: 32px;
    padding: 9px 12px;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
    margin-left: 5px;
}
#DataTables_Table_0_filter input:focus {
    border-color: rgba(0,0,0,0.1);
    background-color: #f0f0f0;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*end datatable*/

/*
.input-validation-error, .required, input:required:invalid {
    border-left: 5px solid #ee0000 !important;
}



.valid, input:required {
    border-left: 5px solid #f3eded !important;
}



.textarea-validation-error, .required, textarea:required:invalid {
    border-left: 5px solid #ee0000 !important;
}

.valid, textarea:required {
    border-left: 5px solid #f3eded !important;
}

.select-validation-error, .required, select:required:invalid {
    border-left: 5px solid #ee0000 !important;
}
.select-validation-error, .required, select2:required:invalid {
    border-left: 5px solid #ee0000 !important;
}

.select2-validation-error, .required, select2:required:invalid {
    border-left: 5px solid #ee0000 !important;
}
.select2-validation-error, .required, select2:required:invalid {
    border-left: 5px solid #ee0000 !important;
}
*/




/*ng-invalid ng-invalid-required*/
.select2-container {
    border-radius: 2px;
}

/*.select2-container.ng-invalid:before {
    content: "";
    border-left: 5px solid #ee0000 !important;
    position: absolute;
    height: 35px;
    left: 0;
    z-index: 99;
    border-radius: 2px 0px 0px 2px;
}*/



/*.valid, select:required {
    border-left: 5px solid #f3eded !important;
}*/

.field-validation-error {
    color: #990000;
}

.color-orange {
    color: #279f9f;
}

.width-350 {
    min-width: 350px;
    max-width: 350px;
}

.color-window {
    color: #0c0101;
    background-color: #f0f2f4;
}
.div-info {
    color: #fff;
    border-color: #3b4752;
    background-color: #3b4752;
}
.table thead tr th:first-child {
    padding-left: 8px !important;
}
.margin-btn {
    margin-top: 20px;
    margin-bottom: 15px;
}
.nav-tabs-fillup>li>a:after {
    background: none repeat scroll 0 0 #0090d9;
    border: 1px solid #0090d9;
}
.modal-dialog {
    margin: 0px auto !important;
    margin-top: 60px !important;
}
.modal .modal-content {
    border: none;
}
button.close {
    color: #fff !important;
    opacity: 1;
}
.modal .modal-header {
    text-align: center;
    border-bottom: 0;
    padding: 15px 25px;
    background: #6d5cae !important;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
}
.card.share .card-content {
    height: 195px;

}
@media screen and (max-width: 1400px) {
    .work_unit .form-group label:not(.error) {
        font-size: 9px !important;
    }
}

select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    padding-top: 20px;
    height: 52px;
}
select2 {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, gray, gray);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 7px 5px, 5px 4px, 1px 0.1em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 7px 5px, 5px 4px, 1px 0.1em;
    background-repeat: no-repeat;
    outline: 0;
}

select2.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, gray, gray);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 7px 5px, 5px 4px, 1px 0.1em;
    background-repeat: no-repeat;
}

select2.minimal:focus {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 7px 5px, 5px 4px, 1px 0.1em;
    background-repeat: no-repeat;
    outline: 0;
}

select {
    background-color: white;
    border: thin solid #dcdce8;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    color: #4a4848;
    line-height: 1.5em;
    padding: 0.5em 16.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select2 {
    background-color: white;
    border: thin solid #dcdce8;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    color: #4a4848;
    line-height: 1.5em;
    padding: 0.5em 16.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.page-container .page-content-wrapper .content .custom-container {
    min-height: 100vh;
}
.page-container .page-content-wrapper .footer {
    position: relative;
    left: 0 !important;
}
.nav-tabs-fillup ~ .tab-content {
    background: transparent !important;
}
.checkbox label::after {
    left: 1.2px !important;
}

.select2.form-control {
    height: 52px;
}
.select2 .select2-container .select2-choice {
    height: 52px;
    
}
.form-group-default.form-group-default-select2 .select2 .select2-container .select2-choice {
    padding-top: 25px !important;
}
/* =================================================
    Leave Application CSS Start 
==============================================*/

/*Leave Application Leave Status List css Start*/
.leave_status_table thead tr th {
    text-align: center;
}
/*Css for Employee info div*/
    .defaultContent {
    background-color: #e1effd;
    margin-bottom: 26px;
    margin-top: -14px;
    padding-bottom: 14px;
    padding-top: 23px;
}

    td.Page-align{
        text-align:end;
    }



    @media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
    color: white;
    font-size: 1rem;
  }



  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    
  }
}

/*#section-to-print {
  color: white;
  background: #f3eded;
}*/
/* =================================================
    Leave Application CSS End 
==============================================*/